body {
    background-color: grey;
    color: white;
}

.heading {
width: 80%;
font-size: 22px;
}

#camera {
    width: 300px;
    height: 300px;
    border: 2px solid black;
}

.name_of_objects, #result_object_name, #result_object_accuracy {
    color: brown;
}
